body{
  background-image: url(https://content.halocdn.com/media/Default/games/halo-combat-evolved/media/hce_010-31fd86b7173d4ab6ad8df20c98fac7bd.jpg);
}
#primera{
  font-style: oblique;
  font-size: 20px;
  color: white;
}
#primera h1{
  font-size: 40px;
  color: purple;
}

#primera textarea{
  background-color: rgba(15, 2, 74, 0.5);
  padding: 50px;
  margin-bottom: 20px purple;
}
#cuerpo p{
  font-size: 20px;
}

#segunda{
color: white;
font-size: 20px;
padding: 50px;
}


#segunda .fa{
  border: 2px white solid;
  border-radius: 50%;
  font-size: 40px;
  color: white;
  padding: 10px 15px;
  margin: 20px;
}

#tercera .fa.before{
  border: 2px black solid;
}

#cuarta{
  color: rgba(15, 2, 74, 0.5);
}
